rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /assessments/{document=**} {
      allow read, write: if true;
    }
    match /student_locks/{document=**} {
      allow read, write: if true;
    }
  }
}
